.sticky-menu-nav {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    
}
@media only screen and (max-width: 767px){
    .sticky-menu-nav {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        
    }
    
    .htext {
         
        font-size: 24.5px;
        
    }
    .item-in{
        padding: 0;
    }
    .textblue{
        font-size: 18px;

    }
    .elevate{
        text-align: center;
    }
    .testimonial-hero{
        text-align: center;
    }
   .testimonial-head{
    max-width: none;
   }
    .carousel-indicators {
        
        display: block;
        margin: -10px auto;
    }
    .carousel-content {
         
        min-height: 290px;
    }
    .card-body h5{
        font-size: 24px;
         
    }
    .excel-img img{
        
        max-height: 350px;
         
    }
    .countsbgcolor{
    float: left;
    }
    .bg-shape1 {
        
        top: -160px;
        left: -12px;
      
    }
    
    .bg-shape2 {
          
         
        top: -180px;
        right: 10px;
        
    }
  }
