* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

    .Content-text {
        color: #a2a2a2;
         
         
    }
    .carousel-content {
         
        min-height: 192px;
        margin: 0;
    }

    .htext {
        color: #e6e6e6;
        font-size: 38px;
        
    }

    .textblue {
        color: #2999c9;
        font-size: 18px;
    }

    .topbar-nav {
        position: fixed;
        width: 100%;
        z-index: 99;
        padding-top: 18px;
        border-bottom: 1px solid #E5E5E5;
    }

    .bg-black {
background-color: #000;
    }
.banner-image {
    background-image: url(<a href="https://www.freepik.com/free-photo/programming-background-collage_34089161.htm#fromView=image_search_similar&page=1&position=0&uuid=102bc149-1309-4113-873e-7cef74306353">Image by freepik</a>);
    background-size: cover;
    background-position: center;
   padding: 160px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.banner-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.banner-content{
    position: absolute;
    padding-top: 74px;
     

}
.banner-content h1{
    font-size: 36px;
    font-weight: 600;
    
}

.btn {
    border: none;
    margin: 7px;
    padding: 14px;
    width: fit-content;
    
    border-radius: 6px;
    cursor: pointer;
}

.btncolor {
    background: linear-gradient(90deg, #8E2DE2, #4A00E0); /* Gradient background */
    color: #FFFFFF; /* White text color */
    border: none; /* Remove border */
    padding: 10px 30px; /* Padding for size */
    border-radius: 25px; /* Fully rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
    transition: background 0.3s, transform 0.3s; /* Smooth transition */
    display: block;
}

.btncolor:hover {
    background: linear-gradient(90deg, #4A00E0, #8E2DE2); /* Reverse gradient on hover */
    transform: translateY(-2px); /* Lift button on hover */
}

 

 


/* second nav bar */

.sticky-menu {
    background-color: #0d6efd;
    padding: 16px 0;   
  position: sticky;
  top:76px;
  z-index: 99;
}

.sticky-menu-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.sticky-menu-nav li a {
    text-decoration: none;
    color: #fff;
    padding-right: 16px;
    font-size: 18px;

}
/* Expert-traning */


.expert-traning {
    background-color: #101010;
   padding-top: 50px;
   
}
 
 
 
 




/* InnoateUI Demo */

.ui-demo {
    background-color: #151515;
}
.ui-demo h1{
    max-width: 600px;
    text-align: center;
    margin: auto    ;
}
 
 
/* we are Expertise */

.expertise-textcolor {
    background-color: #151515;
    
}

 

.g-3>[class*='col-'] {
    margin-bottom: 1rem;
}

.card-size {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px;
    background-color: #191919;
    min-height: 292px; 
    z-index: 1; 
     
    
}
.hi i {
     max-width: 35px; ; 
     
    
}
.great-at-body {
    min-height: 110px;
} 
.great-at-title{
    padding-top: 30px;
    font-size: 22px;
}
.card-size img{
     height: 100px;
     width: 100px;
}


.bg-image {
    position: relative;
    padding-bottom: 40px;
}

.bg-shape1 {
    position: absolute;
    z-index: 0;
    top: -150px;
    left: 40px;
    transform: scale(1.1);
}

.bg-shape2 {
    position: absolute;
    z-index: 0;
    top: -150px;
    right: 40px;
    transform: scale(1.1);
}











/* countscolor */
.countsbgcolor {
    background-color: #101010;
    color: #e6e6e6;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
     text-align: center;
    justify-content:center; 
    align-items:center;
     
     
}

.counter-icon {
    background-color: #585858;
    padding: 30px;
    border-radius: 4px 50px 4px 50px;
    font-size: 2.5rem;
    color: #212529;
    

}
 
.counter-icon .hi {
   max-width: 35px;

}
 
.card-body{
    text-align: left;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.card-body h5{
    font-size: 26px;
     
}

/* Why we Excel */
.excelColor {
    background-color: #101010;

}
.excel-img img{
    height: 100vh;
    max-height: 400px;
    width: 100%;
max-width: 550px;
     
}
.excel-icon {
 background-color: white;
 padding: 15px;
 color: #212529;
 font-size: 2.5rem;
 border-radius: 10px;
 position: relative;
 top: -25px;
}
 






/* uidemo1 start here */
/* .uidemo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.container1 {
    width: 30rem;
    max-width: 100%;
} */









.course-icon {
    width: 50px;
    height: 50px;
  }

  .course-title {
    font-size: 24px;
    font-weight: bold;
  }

  .course-topics .btn {
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .accordion-body {
    padding: 1rem 1.25rem;
    background-color: #101010;
    color: #a2a2a2;
  }
  .acc-border {
    border: 0;
    box-shadow: none;
  }

  .accordion-button {
    display: flex;
    align-items: center;
    color: #e6e6e6; 
    background-color: #101010; 
    border: none; 
    position: relative; 
    transition: none;
  }
  .accordion-button:focus {
    box-shadow: none; 
    outline: none; 
  }

  .accordion-button img {
    margin-right: 15px;
  }

  .content-section {
    display: none;
  }

  .content-section.active {
    display: block;
  }

  .uidemo1 {
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #151515;
  }

  .accordion-button.ui-development {
    background-color: #101010;
    color: #e6e6e6;
  }
  .accordion-button:not(.collapsed) {
    color: #e6e6e6;  
    background-color: #101010;  
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    box-shadow: none;
  }

  .accordion {
    --bs-accordion-color: #212529;
    --bs-accordion-bg: #fff;
    --bs-accordion-btn-color: #ffffff; 
    --bs-accordion-btn-bg: #101010;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-active-bg: #101010;
  }

  .accordion-button::after {
    content: '\25BC'; /* Arrow down */
    font-size: 16px;
    color: white; 
    background-color: black; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: transform 0.2s ease;
    background-image:none;
  }

  .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg); /* Rotate arrow up */
  }
  .accordion-item:last-of-type {
    border: 0;
}
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.accordion-button:not(.collapsed)::after {
     background-image: none; 
    transform: var(--bs-accordion-btn-icon-transform);
}
 
/* uidemo1 Ends here */






/* corousel starts here */
.testimonial-hero {
    width: 100%;
    height: auto;
    background-color: #151515;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .testimonial-head{
    max-width: 355px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    visibility: hidden;
  }
  
  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    background: #0d6efd;
    color: white;
  }
  
  .carousel-indicators {
    justify-content: flex-end;
    margin-right: 3em;
    margin-bottom: 1em; /* Adjust this to move the indicators closer to the bottom */
    position: absolute;
    bottom: 0; /* Positions the indicators at the bottom */
    right: 0;  /* Positions the indicators to the right */
  }
  
  .carousel-indicators [data-bs-target] {
    position: relative; /* Position relative to add inner dot */
    width: 15px; /* Width for indicators */
    height: 15px; /* Height for indicators */
    border-radius: 50%;
    border: none; /* No border for inactive indicators */
    background-color: transparent; /* Transparent background */
  }
  
  .carousel-indicators [data-bs-target]::before {
    content: ''; /* Empty content for inner dot */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the inner dot */
    width: 6px; /* Width of the inner dot */
    height: 6px; /* Height of the inner dot */
    background-color: #0d6efd; /* Color of the inner dot */
    border-radius: 50%; /* Make it a circle */
  }
  
  .carousel-indicators .active {
    border: 2px solid #0d6efd; /* Border color for active indicator */
  }
  
  .visually-hidden {
    visibility: hidden;
  }
  
/* ui demo content */







/* here tabs css starts */
.tabsacc a {
    text-decoration: none;
    color: #444;
}

.tabsacc p {
    margin-top: 0;
}

.tabsacc div {
    box-sizing: border-box;
}

.tabsacc h2 {
    margin: 2em auto 0;
    text-align: center;
}

.tabbed-content {
    background: #151515;
    overflow: hidden;
    max-width: 100%;
    padding: 1em;
}

.tabs ul {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0 0 1em 0;
}

.tabs ul li a {
    padding: 0.5em 1em;
    text-decoration: none;
}
 
.item-in {
    padding: 30px;
}

.item::before {
    cursor: pointer;
    padding: 0.5em;
    display: block;
    background: #101010;
    margin-bottom: 10px;
}

.item.active::before {
    color: #3bacff;
}

.item.active .item-content {
    padding: 1em;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

@media all and (min-width: 800px) {
    .item.active .item-content {
        padding: 3px;
    }

    .tabs-side .tabs li {
        margin-bottom: 5px;
    }
}

.tabbed-content .tabs {
    display: none;
}

.tabbed-content .item {
    min-height: 2em;
    color:  #a2a2a2;
    
}

.tabbed-content .item::before {
    content: attr(data-title);
}

.tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    background-color: #101010;
}

.tabbed-content .item .item-content h2 {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}

.tabbed-content .item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-bottom: 50px;
}

.tabdata li {
    background-color: #101010;
}

.tabdata li {
    color: #848d82;
}

.tabdata p {
    color: #a2a2a2;
    margin-top: 5px;
    width: 100%;
}

@media all and (min-width: 800px) {
    .tabbed-content .tabs {
        display: block;
    }

    .tabbed-content .tabs li {
        padding: 5px;
        background-color: #101010;
        display: inline-block;
    }

    .tabbed-content .tabs li a {
        display: block;
        
        color:#a2a2a2;
    }

    .tabbed-content .tabs li a.active {
        color: #3bacff;
    }

    .tabbed-content .item {
        min-height: 0;
    }

    .tabbed-content .item::before {
        display: none;
    }

    .tabbed-content.tabs-side .tabs {
        float: left;
    }

    .tabbed-content.tabs-side .tabs li {
        display: block;
    }
}

@media (min-width: 992px) {
    .nav-pills-custom .nav-link {
        position: relative;
    }

    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #2999c9;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .nav-pills-custom .nav-link.active::before {
        opacity: 1;
    }
}
 

/* here tabs css ends */

















 /* footer */

 /* Footer starts here */
 .footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    
}

.footer a {
    font-size: 30px;
    margin: 0 10px;
    color: #a2a2a2;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 100px; /* Adjust height to fit the new wave shape */
    width: 100%;
    position: relative;
    top: 0;
    transform: scaleX(-1); /* Flip the wave horizontally */
}

.footer-wave-path {
    fill: #151515;
}

.footer-content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 40px 15px;

}

@media (max-width: 767px) {
    .footer-content {
        padding-bottom: 50px;
    }

    .footer-wave-svg {
        height: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-wave-svg {
        height: 80px;
    }
}

@media (min-width: 992px) {
    .footer-wave-svg {
        height: 100px;
    }
}
